﻿@model BiTi.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Group</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GroupName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberOfMember)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfMember)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
